.navbar {
  
  color: white;
 text-align: center;
 height: 10%;
 position: fixed;
}
.carticon {
  text-decoration: none;
}
.yourtotal {
  margin-bottom: 10%;
  margin-top: 10%;
}
body {
 background-image: url('/homepagephotos/paper.jpg');
 background-size: 100% ;
min-height: 100%;
min-width: 100%;
 overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  body {
    max-width: 100% !important;
  }


  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: steelblue;
    color: white;
    text-align: center;
  }
.neolithic {
  background-image: url('/homepagephotos/neolithic.jpg');
  background-size: 100% 100%
}
.armor {
  background-image: url('/homepagephotos/armor.jpg');
  background-size: 100% 100%
}
.swords {
  background-image: url('/homepagephotos/swords.jpg');
  background-size: 100% 100%
}
.bronze {
  background-image: url('/homepagephotos/bronze.jpg');
  background-size: 100% 100%
}
.iron {
  background-image: url('/homepagephotos/iron.jpg');
  background-size: 100% 100%
}
.roman {
  background-image: url('/homepagephotos/roman.jpg');
  background-size: 100% 100%
}
.medieval {
  background-image: url('/homepagephotos/medieval.jpg');
  background-size: 100% 100%
}
.renaissance {
  background-image: url('/homepagephotos/renaissance.jpg');
  background-size: 100% 100%
}
.archery {
  background-image: url('/homepagephotos/archery.jpg');
  background-size: 100% 100%
}
.shields {
  background-image: url('/homepagephotos/shields.jpg');
  background-size: 100% 100%
}
.banner  {
 
  background-image: url('/banner.jpg');
  background-size: 100% 100%;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: -1%;
  border: solid 1.5px black;
}
.hometitle {
  background-color: steelblue;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  font-style: cursive;
  
}
.pagetitle {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  font-style: cursive;
  margin: 2%;
  z-index: 2;
  margin-top: 2%;
}
.link {
  color: white;
}
.cartbox {
  margin-bottom: -18px;
}
.navbarlink {
  color: white;
}.navbarlink:hover{
  transition: transform .8s;
  transform: scale(1.2); 
}
.dropdownlink {
  color: black;
  padding: 5px;
}
.dropdownlink:hover {
  color: blue;
}
.home-square-title{
  font-size: 7vh;
  font-weight: bolder;
  margin: auto;
  margin-top: 5%;
  color: white;
  -webkit-text-stroke: .5px black; /* width and color */;
  font-family: 'Pangolin'
}
.pageInfo {
  font-family: arial;
  font-size: 1.6rem;
  margin-bottom: 3%;
  color: black;
  font-weight: bolder;
  font-style: cursive;
  -webkit-text-stroke: .5px white;
}
.abouttitle {
  color: white;
  text-align: center;
}
.name {
  color: white;
  font-size: 36px;
}
.col-sm {
  
  color: white;
  text-align: center;
  height: 40vh;
  
  margin: 1%;
  transition: transform .8s; /* Animation */
}
.col-sm:hover {
  text-decoration: none;
}



.col-sm:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 2;
}


/* product items */ 
.serviceitem {
  max-width: 350px !important;
  max-height: 40% !important;
  margin-left: 4%;
  margin-right: 4%;
 position: relative;
}

.itemlist {
  background-color: black;
 
      color: white;
      border-style: 1px solid black;
     
  }
  .card-img {
  align-items: center;
  margin-left: 50px;
  
  
}
.col-lg-4 {
  text-align: center;
}
.items {
  border-style: solid 1px black;
}
.producttitle {
  width: 90%
}
.desc {
  color: white;
  font-size: 16px;
 text-align: center;
}
.FullPage {
  margin-left: 20%;
  margin-right: 20%;
max-height: 100%;
max-width: 100%;

}
.navbarmaster {
  position: fixed;
}

/* BEGIN FORM */

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
/* END FORM */ 