.navbar {
  
  color: white;
 text-align: center;
 height: 10%;
 position: fixed;
}
.carticon {
  text-decoration: none;
}
body {
 background-image: url('./homepagephotos/paper.jpg');
 background-size: 100% 100%;

 overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  body {
    max-width: 100% !important;
  }


  }
.neolithic {
  background-image: url('./homepagephotos/neolithic.jpg');
  background-size: 100% 100%
}
.armor {
  background-image: url('./homepagephotos/armor.jpg');
  background-size: 100% 100%
}
.swords {
  background-image: url('./homepagephotos/swords.jpg');
  background-size: 100% 100%
}
.bronze {
  background-image: url('./homepagephotos/bronze.jpg');
  background-size: 100% 100%
}
.iron {
  background-image: url('./homepagephotos/iron.jpg');
  background-size: 100% 100%
}
.roman {
  background-image: url('./homepagephotos/roman.jpg');
  background-size: 100% 100%
}
.medieval {
  background-image: url('./homepagephotos/medieval.jpg');
  background-size: 100% 100%
}
.renaissance {
  background-image: url('./homepagephotos/renaissance.jpg');
  background-size: 100% 100%
}
.archery {
  background-image: url('./homepagephotos/archery.jpg');
  background-size: 100% 100%
}
.shields {
  background-image: url('./homepagephotos/shields.jpg');
  background-size: 100% 100%
}
.banner  {
 
  background-image: url('./banner.jpg');
  background-size: 100% 100%;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: -1%;
  border: solid 1.5px black;
}
.hometitle {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  font-style: cursive;
  
}
.pagetitle {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  font-style: cursive;
  margin: 2%;
  z-index: 2;
  margin-top: 2%;
}
.home-square-title{
  font-size: 7vh;
  font-weight: bolder;
  margin: auto;
  margin-top: 5%;
  color: white;
  -webkit-text-stroke: .5px black; /* width and color */;
  font-family: 'Pangolin'
}
.pageInfo {
  color: green;
}
.col-sm {
  
  color: white;
  text-align: center;
  height: 40vh;
  
  margin: 1%;
  transition: transform .8s; /* Animation */
}
.col-sm:hover {
  text-decoration: none;
}



.col-sm:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 2;
}


/* product items */ 
.serviceitem {
  max-width: 350px !important;
  max-height: 40% !important;
  margin-left: 4%;
  margin-right: 4%;
 position: relative;
}

.itemlist {
  background-color: black;
 
      color: white;
      border-style: 1px solid black;
     
  }
  .card-img {
  align-items: center;
  margin-left: 50px;
  
  
}
.col-lg-4 {
  text-align: center;
}
.items {
  border-style: solid 1px black;
}
.producttitle {
  width: 90%
}
.desc {
  color: white;
  font-size: 16px;
 text-align: center;
}
.FullPage {
  margin-left: 55px;
  margin-right: 55px;
height: 100%;
width: 100%;

}